* {
  /* box-sizing: border-box; */
  margin: 0px;
}

@font-face {
  font-family: kyu;
  src: url(Poppins-Bold.ttf);
}

#wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /*yaha overflow-y:auto isliye rakha hai taaki,hamara page
  scrollable ban paye*/
  perspective: 100px;
  /*we are applying perspective onto wrapper(not not just only container) bcz when we will translate images
  along z axis(negatively),then the distance btw wrapper and screen will be
  same.
  and when we will scale the images,then they will try to overflow this wrapper and then
  when will will scroll down,we get parallax effect
  
  
  and also bcz for parallax effect a frame needs to be moved,and 
  then the images move at different speed*/
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  /*used to preserve the 3d property  on its's child i.e images */
  z-index: -1;
  position: relative;
  /*unless and untill we use top,left,bottom ,right to position the 
  relative elemnet i.e the images,we don't need position:relative
  here is just used used*/
}

#background,
#foreground {
  position: absolute;
  object-fit: cover;
  width: 100%;
  /*images ko size 100% isliye de rahe hai ,ttaki woh responsive
behaviour show kare,viewport ghatney par.
agar hardcode karke totally frame mei bhi rakh le toh bhi chalega par viewport 
khotta honey par image responsive nahi rahegi*/
  height: 100%;
}

#background {
  z-index: 0;
  transform: translateZ(-200px) scale(3.3);
  /* transform: translateZ(-200px); */
  /*perspective affects the size of image after translate,
  bcz bade perspective k saamne chota translate bada hi dikhega
  compared to 
  chote perspective k saamne chota translate chota hi dikhega*/
}

#foreground {
  z-index: 0;
  transform: translateZ(-80px) scale(1.8);
  /* transform: translateZ(-80px); */
}

h1 {
  z-index: 0;
  color: white;
  position: absolute;
  font-size: 10rem;
  top: 6rem;
  font-family: kyu;
  transform: translateX(15px);
  text-shadow: 0px 0px 10px gray;
  letter-spacing: 4px;
}

section {
  background-color: rgb(45, 45, 45);
  /*section ko wrapper k remaining hissey ka uppar pel diya gya hai
  aur ye container waaley div k z-index aur position:relative ka kamaal hai ka kamaal hai

  agar mei container aur section k postion:relative kar doon toh z-index ki need
  nahhi padh rahi
  */
  width: 100%;
  color: white;
}

#bg1 {
  background-image: url(sport-1.jpg);
}

#bg2 {
  background-image: url(sport-2.jpg);
}

#bg3 {
  background-image: url(sport-3.jpg);
}

.bg {
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding-left: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 10rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
}

#sechead {
  font-size: 5rem;
  font-family: kyu;
  padding-left: 10rem;
  padding-top: 5rem;
}

.sub-headings {
  color: black;
  background-color: white;
  font-size: 3.3rem;
  font-family: kyu;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
